@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import '../node_modules/line-awesome/dist/line-awesome/scss/line-awesome.scss';

$green: #009688;

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@import './components/nav/mainNav.scss';