.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: $black;
  border-radius: 0 0 5px 5px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  color: $white;
}