.main-nav{
  &__container{
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    display: flex;
    gap: 30px;
    .main-nav__container-item{
      padding: 10px 0;
      transition: all 0.5s ease;
      color: #fff;
      &:hover{
        color: $primary;
      }
    }
  }
}